.app-header {

  text-align: center;
  padding: 2px;
  justify-content: space-between;
  background-color:rgb(255, 166, 0);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.app-header h1 {
  font-size: 38px;
  color: black;
  text-align: center;
}

.app-footer {
  position:fixed;
  padding: 2px;
  left:41%;
  bottom:2%;
  right:50%;
}